<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"/>
    <!--<script src="../../js/fileBrowser/fileBrowser.js"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"/>


    <script id="template" type="text/x-handlebars-template">
        <li>
            <span class="mailbox-attachment-icon has-img">
                <img src="{{imgSrc}}" alt="Attachment" />
            </span>
            <div class="mailbox-attachment-info">
                <a href="{{getLink}}" class="mailbox-attachment-name">
                    {{fileName}}
                </a>

                <a href="{{fullName}}" class="btn btn-default btn-xs pull-right delbtn">
                    <i class="fa fa-fw fa-remove"></i>
                </a>
            </div>
        </li>
    </script>





    <style>
        .fileDrop{
            width: 100%;
            height: 200px;
            border: 1px dotted blue;
        }

        small{
            margin-left: 3px;
            font-weight: bold;
            color: gray;
        }

    </style>

    <script src="../../js/fileBrowser/uploadJS.js"/>


</head>
<body>
        <h3>Ajax File Upload</h3>
        <div>
            <div class="fileDrop"></div>
        </div>

        <ul class="uploadedList">
        </ul>
        <!--<div class="uploadedList"></div>-->


        <script>
            $(".fileDrop").on("dragenter dragover",function (event) {
                event.preventDefault();
            });

            $(".fileDrop").on("drop",function (event) {
                event.preventDefault();
                var files=event.originalEvent.dataTransfer.files;
                var file=files[0];
//                console.log(file);

                var formData=new FormData();
                formData.append("file",file);

                $.ajax({
                    url:'/uploadForm',
                    data: formData,
                    dataYpe:'text',
                    processData:false,
                    contentType:false,
                    type:'POST',
                    success:function (data) {

                        var fileInfo=getFileInfo(data);

                        console.log(data);
                        console.log(checkImageType(data));

                        if (checkImageType(data)){
                            str='<div>'
                                +'<a href="displayFile?fileName='
                                +getImageLink(data)
                                +'">'
                                +'<img src="displayFile?fileName='
                                +data
                                +'"/>'
                                + '</a><small data-src="'
                                + data
                                + '">X</small></div>';
                        }else {
                            str='<div><a href="displayFile?filename='
                                +data+'">'
                                +getOriginalName(data)
                                +'</a><small data-src="'
                                + data
                                +'">X</small></div>';
                        }

                        $(".uploadedList").append(str);
                    }
                });
            });
            $(".uploadedList").on("click","small",function (event) {
                var that=$(this);

                $.ajax({
                    url:'/deleteFile',
                    type:'POST',
                    data:{fileName : $(this).attr("data-src")},
                    dataType:'text',
                    success:function (result) {
                        if (result=='deleted'){

                            alert("deleted");
                            that.parent('div').remove();
                        }
                    }

                });
            });
        </script>


        <form id="form1" action="uploadForm" method="post"
        enctype="multipart/form-data">
            <!--<input id="imageLoader1" type="file" name="file" accept="image/*" onchange="loadImage();"/>
            -->
            <input type="file" name="file"/>
            <input type="submit"/>
        </form>


</body>
</html>