<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!--<script src='http://tinymce.cachefly.net/4.0/tinymce.min.js'/>-->
    <script src="../../js/tinymce/tinymce.min.js"/>
    <script src="https://code.jquery.com/jquery-1.11.3.js"/>
    <script src="../../js/tinymce/custom/customSetting2.js"/>

</head>
<body>

<form enctype="multipart/form-data" id="uploadForm">
    <textarea id="my_editor" name="my_editor">

    </textarea>
</form>
<button id="send" type="submit" onclick="sendTinyMceContent()">전송</button>

</body>
</html>